td{
	width:16px;
	height:16px;
}
a{
	color:#000;
	text-decoration:none;
	border-bottom:1px solid #00aeff;
}
#menuBox a{
display:block;
}
#shopBox{
	line-height:20px;
}
#shopBox span{
	float:right;
}
.cursorFire{
	width:30px;
	height:29px;
	margin-left:-4px;
	margin-top:-4px;
	background:url(../images/cursor/cursorFire.gif);
}
.cursorSelect{
	width:20px;
	height:20px;
	margin-left:-2px;
	margin-top:-2px;
	background:url(../images/cursor/cursorAdavanceWars.png);
}

#cursor{
	position:absolute;
	top:0;
	left:0;
}

.units{
	width:16px;
	height:16px;
	margin-left:0px;
	margin-top:0px;
	position:absolute;
	z-index:10;
	display:none;
}
.bats{
	width:19px;
	height:31px;
	margin-left:0px;
	margin-top:-15px;
	position:absolute;
	z-index:9;
	display:block;
}
.pictoVie, .pictoTransport, .pictoEssence{
	float:left;
}
#units_container .red{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
#units_container .red div{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
#units_container .red> .pictoVie, .pictoTransport, .pictoEssence{
	float:right;
}
#cursor, .units, td{
	cursor: none;
}

.petitsChiffres{
	width:5px;
	height:8px;
	background:url(../images/pictos/petitsChiffres.png);
}
.n_1{
	background-position : -6px;
}
 .n_2{
	background-position : -12px;
}
 .n_3{
	background-position : -18px ;
}
 .n_4{
	background-position : -24px;
}
 .n_5{
	background-position : -30px;
}
 .n_6{
	background-position : -36px;
}
 .n_7{
	background-position : -42px;
}
.n_8{
	background-position : -48px;
}
.n_9{
	background-position : -54px;
}

.traceSprite{
	width:16px;
	height:16px;
	background:url(../images/trace_layer/sprite.gif);
}
.trace_virage_b_d{
	background-position : 0px;
}
.trace_virage_h_d{
	background-position : -16px;
}
.trace_virage_b_g{
	background-position : -32px;
}
.trace_virage_h_g{
	background-position : -48px;
}
.trace_ligne_h{
	background-position : -64px;
}
.trace_ligne_v{
	background-position : -80px;
}
.trace_fleche_b{
	background-position : -96px;
}
.trace_fleche_d{
	background-position : -112px;
}
.trace_fleche_h{
	background-position : -128px;
}
.trace_fleche_g{
	background-position : -144px;
}

